
<div class="home">
    <div class="sidebar" role="cdb-sidebar" color="pink">

<ul >
         <li class="side" >
          <a  href="/admin/category">Category</a>
        </li>
        <li class="side">
        <a  href="/admin/subcategory">Subcategory</a>
 
        </li>
        <li class="side">
        <a href="/admin/commodity">Commodity</a>
        </li>
        </ul>
        
        </div>
        <div class="content">
<marquee behavior="" direction="top" class="welcome" style="font-size: 50px;animation: blinker 1.5s linear infinite;
">Welcome to Fashion World
</marquee>
</div></div>


