
<div class="home">
    <div class="sidebar" role="cdb-sidebar" color="pink">

<ul style="none" > <li class="side" >
          <a  href="/admin/category">Category</a>
        </li>
        <li class="side">
        <a  href="/admin/subcategory">Subcategory</a>
 
        </li>
        <li class="side">
        <a href="/admin/commodity">Commodity</a>
        </li>
        </ul>
        </div>
        <div class="updatesub">
<form action="" method="post" id="subcategoryupdatefm">
    <h1 class="head" style="text-align: center;">Update Subcategory</h1> <br>
    Parent category<select name="catname" value="" id="parentCat1" class="form-control">
        {{!-- <option >Select</option> --}}
        {{#each subcatresult}}
        <option value="{{this._id}}">{{this.category}}</option>
        {{/each}}
    </select>
    <input type="hidden" value="{{result.parent_name}}" id="hide1">
   Sub category <input type="text" name="subcat" value="{{result.sub_name}}" class="form-control">
   <button type="submit" style="margin-left: 150px; margin-top:20px;">Update</button>

</form>


 <script>
    let parentCatDt=document.getElementById("parentCat1")
        console.log(parentCatDt)

    let selectDt=document.getElementById("hide1").value
        console.log(selectDt)
        for(let i=0; i<parentCatDt.options.length;i++){
            let option=parentCatDt.options[i]
            if(option.value==selectDt){
                option.selected=true
                break;
            }
        }

</script> 
</div>
</div>




