
{{!-- sidebar --}}

{{!-- 


  <div class="flex-shrink-0 p-3 bg-white" style="bg-color=pink; width: 280px;">
    <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none ">
      <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
    </a>
    <ul class="list-unstyled ps-0">
     <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true"> <a href="/admin" style="text-decoration-none">
          Category
       </a> </button>
     </li> 
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
          Subcategory
        </button>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
          Commodity
        </button>
        
      </li>
      
  </div>  --}}
  <div class="about">
    <div class="ep1">
            <div class="email">
              <p> <b>Mail us:</b> Flipcart Internet Private Limited, Building alyssa, begonia& clove embassy tech village outer ring road, devarabeesanahalli village,Bengaluru, 560103 </p>
              
              </div>
              <div class="ph1"> 
                <p> <b> contact</b> <br> Telephone:044-45614700</p>
              </div>
              </div>
            </div>