<div style="margin: 100px 400px;">
<div class="signin" >
        <h3 class="text-dark text-center"> Sign-up</h3>
        <!-- <img src="./propic.jpg" alt="" width="100px" height="100px" style="background-color: nocolor;"> -->
     <form action="" method="post">
        Full Name<input type="text" class="form-control" placeholder="First and last name" name="name">
        User Name<input type="text" class="form-control" placeholder="Email id/ Phone number" name="username">
        Password<input type="password" class="form-control"placeholder="At least 6 characters" name="password">
        <button type="submit" class="btn" style="background-color:  darkgray; margin: 30px 150px;" >Register now</button>
      </div>
      </div>